body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

  margin: 0 auto;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-container {
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;

  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}
.logo {
  color: #2e2f42;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.edit {
  position: relative;
  color: #404bbf;
}

.nav-link.edit:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

.address-content {
  padding: 24px 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-content:hover {
  color: #404bbf;
}

.address-content:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

/* Section 1 */

.container-solutions {
  display: block;
}

.solutions-title .container {
  flex-direction: column;
  align-items: center;
}

.solutions-section {
  background-color: #2e2f42;
  height: 600px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-optimize.jpg);
}

.solutions-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 48px;
}

.section-solutions-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-solutions-btn:focus {
  background-color: #404bbf;
}

.section-solutions-btn:hover {
  background-color: #404bbf;
}

/* Section 2 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.future-section {
  padding: 120px 0;
  margin: 0 auto;
  align-items: center;
}

.section-future-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-future-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-future-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.future-section-list {
  display: flex;
  gap: 24px;
}

.future-section-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.container-future {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.icon-future {
  width: 64px;
  height: 64px;
}

/* Section 3 */

.section-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-team .container {
  flex-direction: column;
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-team-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.section-team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-person-name {
  padding: 32px 0;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.section-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.section-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-align: center;
}
/* Section 4 */

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio .container {
  flex-direction: column;
}

.section-title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  display: block;
  margin-bottom: 72px;
  margin-left: 0;
  margin-right: 0;
}

.section-list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-item-portfolio {
  width: calc((100% - 48px) / 3);
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-item-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-subtitle-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-portfolio-txt {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  max-width: 360px;
  height: 120px;
}

.section-text-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-description {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-item-portfolio:hover .portfolio-description {
  transform: translateY(0%);
}

/* Footer */

.footer {
  background-color: #2e2f42;
  font-family: "Raleway", sans-serif;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
  /* margin-right: 120px; */
}

.footer-logo-text {
  /* margin-left: 156px; */
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .span {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  font-size: 16px;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  /*margin-bottom: 16px;*/
}

.footer-social-contact {
  margin-right: 208px;
  height: 80px;
}

.footer-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-top: 0;
  margin-bottom: 16px;
  padding-bottom: 3px;
  padding-top: 0;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-links-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-media-icon {
  fill: #f4f4fd;
}

.address-mail:hover {
  color: #4d5ae5;
}

.address-tel:hover {
  color: #4d5ae5;
}

/* ICON-SOC */

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-shrink: 0;
  align-self: flex-end;
  list-style: none;
  margin-top: 8px;
  padding: 0 16px;
  flex-direction: row;
  align-items: center;
}
.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-icon {
  fill: #f4f4fd;
}
